body {
  background-image: linear-gradient(black, lightblue);
}
.heading {
  font-family:sans-serif;
  font-style: italic;
  text-align: center;
  color: white;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}
h1 {
  font-family:sans-serif;
}
h3 {
  font-size: 40px;
}
#canvas {
  display: block;
  margin: auto;
  background-color:}
