.body1 {
  background-color: lightblue;
}
.bodygreen {
  background-color: #00FF00;
}
.bodyred {
  background-color: red;
}
.heading {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: white;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}
h1 {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  color: green
  font-size: 50px;
}
h2 {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
}
h3 {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
}
h4 {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
}
.button {
  background-color: orange;
  border: 5px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
  border-radius: 8px;
}
.button:hover {
  background-color: black;
  color: orange;
}
.button:active {
  background-color: black;
  color: orange;
}
div {
    background-color: white;
    font-size: 25px;
    font-family: '8BITWONDERNominal';
}​
