body {
  background-color: lightblue;
}
.heading {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: white;
  text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}
h1 {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
}
h3 {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
}
h4 {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
}
.button {
  background-color: lightgreen;
  border: 5px black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
}
div {
    background-color: white;
}​
